* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0%;
}

.footer {
  margin-top: 10px;
  background-color: rgb(182, 187, 196);
  box-shadow: 0px -3px 5px rgb(156, 160, 160);
}
.footer__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}
.footer__div__logo {
  margin-bottom: 1rem;
}
.footer__div__logo img {
  margin-top: 1rem;
}
.footer__div--li {
  color: rgb(22, 26, 48);
  margin-bottom: 0.6rem;
}
.footer__div--li i {
  padding-right: 0.5rem;
}
.footer__div--breadcrumbs {
  margin-bottom: 0;
}
.footer__div--breadcrumbs li {
  display: inline-block;
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  .footer__div--breadcrumbs li {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .footer__div--contacto {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__div--contacto li {
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  .footer__div__datos {
    min-width: 80%;
  }
}

.header {
  background-color: rgb(22, 26, 48);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .navbar .navbar.navbar-expand-md {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
}
.navbar-toggler {
  background-color: white;
  margin-right: 1rem;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .dropdown-menu {
  background-color: rgb(240, 236, 229);
}
.navbar-nav .dropdown-menu a {
  color: rgb(49, 48, 77);
}
.navbar-nav .dropdown-menu a:hover {
  background-color: rgba(182, 187, 196, 0.315);
}

.nav-link.nav-link-block.show {
  color: rgb(182, 187, 196);
}

.nav-link.dropdown-toggle.show {
  color: rgb(156, 160, 160);
}

@media screen and (min-width: 768px) {
  .nav-item.dropdown {
    margin-right: 0.2rem;
    margin-left: 1rem;
  }
  .nav-item.dropdown:hover {
    color: white;
    background-color: transparent;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.24);
    transition: all 0.5s;
  }
  .nav-item.dropdown:hover a:hover {
    color: rgb(240, 236, 229);
  }
}

section.index_hero {
  width: 100vw;
}

.navbar a, .footer__div--li a {
  color: rgb(22, 26, 48);
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid transparent;
}

.navbar a {
  color: rgb(240, 236, 229);
}

.footer__div--li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(22, 26, 48);
  border: 1px solid rgb(50, 59, 110);
  box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.521);
  transition: all 0.5s;
}

.nav-link.nav-link-block:hover {
  color: white;
  background-color: transparent;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.24);
  transition: all 0.5s;
}

section.index_hero {
  width: 100vw;
}

.logo {
  width: 7rem;
  margin-left: 1rem;
}

/*# sourceMappingURL=styles.css.map */
