* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

body {
  background-color: rgba(226, 226, 226, 0.687);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0%;
}

.footer {
  background-color: rgb(243, 248, 246);
  box-shadow: 0px -3px 5px rgb(156, 160, 160);
  position: relative;
  padding-top: 1rem;
}
.footer__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}
.footer__div--li {
  color: #1e334c;
  margin-bottom: 0.2rem;
  border-radius: 20px;
  border: 1px solid transparent;
  padding-right: 1rem;
}
.footer__div--li i {
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 10px;
  color: #1e334c;
  margin: 0 5px;
  transition: 200ms;
}
@media screen and (max-width: 768px) {
  .footer__div--li i.bi-telephone:hover {
    background-color: #34a853;
  }
  .footer__div--li i.bi-geo-alt:hover {
    background-color: #4a80f5;
  }
  .footer__div--li i.bi-envelope:hover {
    background-color: #ea4335;
  }
  .footer__div--li i.bi-instagram:hover {
    background-color: #c32aa3;
  }
}
.footer__div--li p {
  color: #1e334c;
  display: none;
  margin: 0;
  padding: 10 px;
}
@media screen and (min-width: 768px) {
  .footer__div--li p {
    display: inline-block;
  }
}
.footer__div--breadcrumbs {
  margin-bottom: 0;
  font-size: 1.2rem;
}
.footer__div--breadcrumbs li {
  display: inline-block;
  margin-top: 0.5rem;
}
@media screen and (min-width: 992px) {
  .footer__div--breadcrumbs li {
    margin-bottom: 1rem;
  }
}
.footer__div--breadcrumbs li .footer__div--link {
  color: #1e334c;
}
.footer__div--breadcrumbs li .footer__div--link p {
  margin-bottom: 0;
}
.footer__div--breadcrumbs li .footer__div--current-link {
  color: rgb(188, 208, 244);
}
.footer__div--contacto {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer__div--contacto li {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .footer__div--contacto li:nth-child(1):hover {
    border: 1px solid #34a853;
  }
  .footer__div--contacto li:nth-child(2):hover {
    border: 1px solid #4a80f5;
  }
  .footer__div--contacto li:nth-child(3):hover {
    border: 1px solid #ea4335;
  }
  .footer__div--contacto li:nth-child(4):hover {
    border: 1px solid #c32aa3;
  }
}
.footer__div__datos {
  min-width: 50%;
  max-width: 70%;
}

.header {
  background: #fff;
  position: relative;
  z-index: 200;
  transition: all 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    height: 7rem;
    top: 0px;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .navbar .navbar.navbar-expand-md {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
}
.navbar a {
  font-size: 1rem;
  color: #1e334c;
}
.navbar-toggler {
  background-color: #fff;
  margin-right: 1rem;
}

.navbar-collapse.show {
  flex-grow: 0;
}

.navbar-nav .dropdown-menu {
  background-color: rgb(156, 160, 160);
}
.navbar-nav .dropdown-menu a {
  color: #fff;
}
.navbar-nav .dropdown-menu a:hover {
  background-color: transparent;
}

.nav-link.nav-link-block.show {
  color: rgb(182, 187, 196);
}

.nav-link.dropdown-toggle {
  font-size: 1rem;
  color: #1e334c;
}
.nav-link.dropdown-toggle.show {
  color: rgb(156, 160, 160);
}

@media screen and (min-width: 768px) {
  .nav-item.dropdown {
    margin-right: 0.2rem;
    margin-left: 1rem;
  }
}
.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-down header {
  filter: drop-shadow(0 -10px 20px black);
}

.index__obras, .index__servicios .servicios, .index__intro {
  text-align: center;
  padding: 2rem 3rem;
  margin: 1rem 0;
  box-shadow: 5px 5px 10px rgba(177, 180, 180, 0.667);
}

@media screen and (min-width: 768PX) {
  main.container {
    padding-top: 7rem;
  }
}

.index__intro--btn, .index__hero-content a {
  color: rgb(22, 26, 48);
  font-weight: 700;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid transparent;
}

.index__hero-content a {
  color: rgb(240, 236, 229);
}

::after, ::before {
  overflow: hidden;
  box-sizing: border-box;
}

.logo {
  height: 5rem;
  margin-left: 1rem;
}

.index__obras--title, .index__servicios--title, .index__intro--title {
  font-size: 1.8rem;
  font-weight: 900;
}

.index__hero-content h1 {
  font-size: 2em;
  font-weight: 900;
}

.index__hero {
  position: relative;
  padding: 0%;
}
.index__hero-video {
  position: relative;
  opacity: 70%;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
  height: 100%;
  max-height: 70vh;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .index__hero-video {
    margin-top: 7rem;
  }
}
.index__hero-content {
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center;
  z-index: 10;
}
.index__hero-content h1 {
  color: rgb(49, 54, 63);
}
@media screen and (min-width: 992px) {
  .index__hero-content h1 {
    font-size: 3em;
    margin-bottom: 5%;
  }
}
.index__hero-content a {
  background-color: rgb(22, 26, 48);
  padding: 7px 12px;
  font-size: 1rem;
}
.index__hero-content a:hover {
  background-color: rgb(240, 236, 229);
  color: rgb(31, 52, 74);
  padding: 7px 25px;
  transition: all 0.5s;
}

.index__intro {
  background-color: rgb(182, 187, 196);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index__intro--text {
  padding-bottom: 1rem;
  max-width: 700px;
}
.index__intro--btn {
  border: 1px solid rgb(67, 65, 124);
  padding: 7px 12px;
  font-size: 1rem;
}
.index__intro--btn:hover {
  background-color: rgb(182, 187, 196);
  color: rgb(31, 52, 74);
  padding: 7px 25px;
  transition: all 0.5s;
}

.index__servicios {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .index__servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}
.index__servicios--title {
  width: 100%;
}
.index__servicios .servicios {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: end;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 0.5rem;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .index__servicios .servicios {
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 400px;
  }
}
@media screen and (min-width: 992px) {
  .index__servicios .servicios {
    width: 30%;
  }
}
.index__servicios .servicios:nth-child(2) {
  background-image: url(../../assets/frente.jpeg);
}
.index__servicios .servicios:nth-child(3) {
  background-image: url(../../assets/render.jpg);
}
.index__servicios .servicios:nth-child(4) {
  background-image: url(../../assets/gallery.jpg);
}
.index__servicios .servicios::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.369);
  top: 0%;
  left: 0%;
  z-index: 10;
}
.index__servicios .servicios:hover {
  transform: scale(1.01);
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.index__servicios .servicios__text {
  font-size: 1.5rem;
  font-weight: 900;
  z-index: 20;
}
.index__servicios .servicios__text a {
  color: rgb(240, 236, 229);
}

.index__obras {
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .index__obras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}
.index__obras--img {
  max-width: 100%;
  border-radius: 0 20px;
}
@media screen and (min-width: 768px) {
  .index__obras--img {
    max-width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .index__obras--img {
    max-width: 30%;
  }
}
.index__obras--content {
  color: rgb(50, 59, 110);
}
@media screen and (min-width: 768px) {
  .index__obras--content {
    max-width: 45%;
    margin-left: 5%;
  }
}
.index__obras--text {
  text-align: justify;
}
.index__obras--text a {
  font-weight: 900;
  padding: 0px 10px;
  color: rgb(50, 59, 110);
}
.gallery__title {
  margin-top: 0.1rem;
  background-color: rgb(182, 187, 196);
  padding: 2rem;
  text-align: center;
  box-shadow: 0px 0px 0px -10px rgb(243, 248, 246), 2px 5px 10px 1px rgb(243, 248, 246);
  margin-bottom: 1rem;
  position: relative;
  z-index: 10;
}
.gallery__title--h1 {
  color: rgb(31, 52, 74);
  font-weight: 900;
}

.gallery__section {
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 90px 30px rgb(243, 248, 246), 2px 5px 10px 1px;
  position: relative;
}
.gallery__section--title {
  position: absolute;
  display: inline-block;
  z-index: 10;
  padding: 0.2rem 1.5rem;
  font-size: 1.3rem;
  box-shadow: 0px 0px 90px 30px rgb(182, 187, 196), 2px 5px 5px 1px;
  background-color: rgb(182, 187, 196);
  border-radius: 20px;
  text-align: center;
  max-width: 60%;
  bottom: 10%;
  left: 20%;
  right: 20%;
}
.gallery__section--titlelink {
  color: rgb(31, 52, 74);
  font-weight: 900;
}
.gallery__section--title:hover {
  background-color: rgb(22, 26, 48);
  transition: background-color linear 1s;
}
.gallery__section--title:hover a {
  color: rgb(243, 248, 246);
}

.carousel-inner img {
  width: 100%;
  backdrop-filter: sepia(90%);
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .carousel-inner img {
    min-height: 25vh;
    max-height: 25vh;
    object-fit: cover;
    overflow: hidden;
  }
}
@media screen and (min-width: 990px) {
  .carousel-inner img {
    min-height: 80vh;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
