@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Noto Serif", serif; */
}

.header {
    background-color: rgba(0, 0, 255, 0.411);
}

.nav-link,
.nav-link.show {
    text-align: center;
}

.navbar-nav .dropdown-menu {
    background-color: transparent;
}

.nav-link.nav-link-inlineblock {
    display: inline-block;
}

.dropdown-toggle {
    border: 1px solid rgba(124, 124, 124, 0.474);
    border-radius: 20% 20%;
    padding: 0 .8em;

}

.slider {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0%;
    width: 300%;
    animation: slider 12s infinite;
    animation-direction: alternate;
}

.slider ul li {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.slider ul li img {
    width: 100%;
    max-height: 98vh;
    
}

@keyframes slider {
    0% {
        margin-left: 0%;
    }

    30% {
        margin-left: 0%;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}


main{

    padding: 0;
}
.main.container {
    padding: 0;
}
.servicios{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicios__ejemplo{
    margin-left: 3rem;
    font-size: 3rem;
}