
$primary-color-gray:rgb(240, 236, 229);
$primary-color-light-blue-transparent:rgba(182, 187, 196, 0.315);
$primary-color-light-blue:rgb(182, 187, 196);
$primary-color-blue:rgb(49, 48, 77);
$primary-color-dark-blue: rgb(22, 26, 48);


$secondary-color-light-gray:rgb(243, 248, 246);
$secondary-color-dark-gray:rgb(156, 160, 160);
$secondary-color-light-blue-transparent:rgba(188, 208, 244, 0.418);
$secondary-color-light-blue:rgb(188, 208, 244);
$secondary-color-purple:rgb(67, 65, 124);
$secondary-color-dark-purple: rgb(50, 59, 110);

// other color palettes

//GREENS
$petroleum-blue:rgb(0, 103, 105);
$leaf-green:rgb(64, 165, 120);
$light-leaf-green:rgb(157, 222, 139);
$yellowy-green:rgb(230, 255, 148);

//BLUES
$purply-blue:  rgb(36, 7, 80);
$marine-blue: rgb(52, 76, 100);
$navy-light-blue: rgb(87, 123, 141);
$sea-light-blue: rgb(87, 166, 161);

//EARTH-LIKE
$navy-blue :rgb(1, 32, 78);
$baby-dark-blue :rgb(2, 131, 145);
$cream :rgb(246, 220, 172);
$dark-cream :rgb(254, 174, 111);

//BLUES AND GRAYS
$blue: rgb(21, 52, 72);
$dark-light-blue:rgb(60, 91, 111);
$dark-creamy-gray: rgb(148, 137, 121);
$creamy-gray:rgb(223, 208, 184);

//DARKER BLUES
$black-blue: rgb(34, 40, 49);
$gray-blue: rgb(49, 54, 63);
$baby-light-blue: rgb(118, 171, 174);
$light-gray: rgb(238, 238, 238);

$logo-blue: rgb(31,52,74);

$whatsapp: #34a853;
$instagram: #c32aa3;
$email: #ea4335;
$location:#4a80f5;