.gallery__title{
    margin-top: .1rem;
    background-color: $primary-color-light-blue;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 0px 0px -10px $secondary-color-light-gray, 2px 5px 10px 1px $secondary-color-light-gray;
    margin-bottom: 1rem;
    position: relative;
    z-index: 10;
    &--h1{
        color: $logo-blue;
        font-weight: 900;
    }
}

.gallery__section{    
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 90px 30px $secondary-color-light-gray, 2px 5px 10px 1px;
    position: relative;
    &--title{
        position: absolute;
        display: inline-block;
        z-index: 10;
        padding: .2rem 1.5rem;
        font-size: 1.3rem;
        box-shadow: 0px 0px 90px 30px $primary-color-light-blue, 2px 5px 5px 1px;
        background-color: $primary-color-light-blue;
        // border: 1px solid $primary-color-gray;
        //backdrop-filter: blur(2px);
        border-radius: 20px;
        text-align: center;
        max-width: 60%;
        bottom: 10%; 
        left: 20%;
        right: 20%;

        &link{
            color: $logo-blue;
            font-weight: 900;           
     
        }
        &:hover{
            background-color: $primary-color-dark-blue;
            a{
                color: $secondary-color-light-gray;
            }
            transition: background-color linear 1s;
        }
        
    }

}

.carousel-inner{

    img{  
        width: 100%;
        backdrop-filter: sepia(90%);
        overflow: hidden;
        @include min-width(768px){
            min-height: 25vh;
            max-height: 25vh;
            object-fit: cover;
            overflow: hidden;
      }
      @include min-width(990px){
          min-height: 80vh;
          max-height: 80vh;
          object-fit: cover;
          overflow: hidden;
    }
        
    }
} 

