//HERO SECTION

.index__hero {
	position: relative;
	padding: 0%;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	//dark shade on video
	&::before {
		content: "";
		inset: 0 0 0 0;
		background-color: black;
		position: absolute;
		z-index: -100;
	}
		//top wave
	&::after {
		content: "";
		inset: 0 0 -5px 0;
		background-image: url(../../assets/images/landing-page/waveShort.svg);
		position: absolute;
		z-index: 110;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		@include min-width(790px) {
			inset: 0 0 -40px 0;
		}
        @include min-width(1240px) {
			inset: 0 0 -80px 0;
		}
	}

	&-video {
		position: relative;
		inset: 2px 0 0 0;
		opacity: 70%;
		width: 100%;
		overflow: hidden;
		height: 100%;
		object-fit: cover;
		@include min-width(768px) {
			margin-top: $header-height;
		}
	}
	&-content {
		width: 100%;
		position: absolute;
		bottom: 10%;
		text-align: center;
		z-index: 150;
		h1 {
			color: $secondary-color-light-gray;
			font-family: "loverine", cursive; 
			//font-family: adelia;
			text-shadow: 1px 1px 2px $primary-color-blue;
			@extend %big_title;
			@include min-width(992px) {
				font-size: 3em;
				margin-bottom: 3%;
			}
		}

		.btn-animated-border-box::after {
			background: $secondary-color-purple;
		}

		.btn-animated-border-box:hover::after {
			background: $dark-waves;
			transition: 0.3s;
		}
	}
}

// MAIN WAVE

.main-home {
	background: no-repeat top/100% url(../../assets/images/landing-page/waveShortNegative.svg);
}

//INTRO SECTION

.index__intro {
	text-align: center;
	box-shadow: none;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	div{
		text-align: center;
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	&--title{
		@extend %section_title;
	}
	&--text {
		padding-bottom: 1rem;
		max-width: 700px;
	}
	&--btn {
		@extend %btn-dark;
		border: 1px solid $secondary-color-purple;
		padding: 7px 12px;
		font-size: 1rem;
		&:hover {
			background-color: $primary-color-light-blue;
			color: $logo-blue;
			padding: 7px 25px;
			transition: all 0.5s;
		}
	}

	&::before{
		content: '';
		position: absolute;
		inset: 0 0 -1px 0;
		z-index: -50;
		background: no-repeat bottom/100% url(../../assets/dividers/bottom-light-waves2.svg);
		@include min-width(1200px){
			inset: 0 0 -50px 0;
	}
	}
}

//SERVICES SECTION

.index__servicios {
	padding-top: 20vh;
	padding-bottom: 40vh;
	background: linear-gradient(180deg, $light-waves 0%, #fff 100%, #fff 95%);	
	position: relative;

	//bottom gray wave
	&::before{
		content: '';
		inset: -2px 0;
		position: absolute;
		z-index: 20;
		background: no-repeat bottom/100% url(../../assets/images/landing-page/wave-outline.svg);
	}
	
	div.container {
		text-align: center;

	@include min-width(768px) {
		@include flex();
		flex-wrap: wrap;
	}
	}
	&--title {
		@extend %section_title;
		width: 100%;
	}
	
	.servicio {
		@extend %section;
		border-radius: 10px;
		padding: 0;
		@include flex();
		align-items: end;
		height: 250px;
		background-size: cover;
		background-position: center;
		margin: 0.5rem;
		overflow: hidden;
		position: relative;

		@include min-width(768px) {
			justify-content: end;
			align-items: center;
			flex-direction: column;
			width: 50%;
			height: 400px;
		}
		@include min-width(992px) {
			width: 30%;
		}

		&:nth-child(2) {
			background-image: url(../../assets/images/constructora-home/frente.jpeg);
		}
		&:nth-child(3) {
			background-image: url(../../assets/images/constructora-home/render.jpg);
		}
		&:nth-child(4) {
			background-image: url(../../assets/images/constructora-home/gallery.jpg);
		}

		//dark shadow for cards

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, 0.369);
			top: 0%;
			left: 0%;
			z-index: 10;
			pointer-events: none;
		}
		&:hover {
			transform: scale(1.01);
			transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
		}
		&__link {
			color: $primary-color-gray;
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 50;
			.servicio__card {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: end;
				p {
					position: relative;
					font-size: 1.7rem;
					font-family: "antipastoRegular";
					z-index: 25;
				}
			}
		}
	}
}

//GALLERY SECTION

.index__obras {
	padding-block: 10vh;
	background: linear-gradient(0deg, $light-waves 0%,#fff);
}
.index__obras article {
	text-align: center;
	box-shadow: none;
	padding-block: 6vh;
	
	@include flex-column();
	align-items: center;
	@include min-width(768px) {
		@include flex();
	}
	.article--img {
		max-width: 80%;
		height: 300px;
		object-fit: cover;
		border-radius: 20px;
		@include min-width(768px) {
			max-width: 45%;
		}
		@include min-width(992px) {
			max-width: 450px;
		}
	}
	.article--content {
		color: $secondary-color-dark-purple;
		@include min-width(768px) {
			max-width: 45%;
			margin-left: 5%;
		}
	}

	.article--content.reverse {
		@include min-width(768px) {
			margin-inline: 0 5%;
		}
	}

	.article--title {
		@extend %section_title;
	}
	.article--text {
		text-align: center;
		a {
			font-weight: 900;
			padding: 0px 10px;
			color: $secondary-color-dark-purple;
		}
		&:hover {
			color: $logo-blue;
		}
	}
}


//GALLERY SECTION

.homegallery{
position: relative;
&::before{
	position: absolute;
	content: '';
	inset: 0 0 70% 0;
	z-index: -10;
	background: no-repeat top/100% url(../../assets/dividers/top-light-waves1.svg);
}
}
.homegallery-inmo{
	&::before{
		inset: 70% 0 0 0;
		background: no-repeat top/100% url(../../assets/dividers/bottom-light-waves5.svg);
	}
}