//SERVICES SECTION

.services__container{
    position: relative;
}
.services__container::before{
    content: '';
    position: absolute;
    inset: 0 0 92% 0;
    background-image: url(../../assets/images/landing-page/waves.svg);
    z-index: 20;
    @include min-width(992px){
        inset: 0 0 85% 0;
    }
}
.services__container::after{
    content: '';
    position: absolute;
    inset: 0% 0% 90% 0%;
    background-image: url(../../assets/images/landing-page/waveslightOther.svg);
    z-index: 10;
    @include min-width(992px){
        inset: 0 0 75% 0;
    }
}
.services{
        padding-top: 15%;
        text-align: justify;
    &__item{
        max-width: 370px;
        border-radius: 20px;
        margin: 20px 15px;
        padding: 15px;
    }
    &__title{
        text-align: center;
        padding-top: 15px;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-family: 'antipastoExtraBold';
    }
    &__description{
        margin: 0;
        font-size: 1.2rem;
    }
}



//FEATURES SECTION



.features{
    background-image: url(../../assets/images/landing-page/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30vh;
    padding-bottom: 20vh;
    position: relative;
    z-index: 0;
    &__content{
        padding: auto 20px;
        text-align: center;

    }
    &__title{
        a{
            font-family: 'antipastoExtraBold';
            text-transform: uppercase;
            margin-top: 1rem;
            font-weight: 900;
            font-size: 1.2rem;
            color: $logo-blue;
        }
    }
    &__description{
        font-size: .9rem;
    }
}

.features::before{
    content: '';
    background-image: url(../../assets/images/landing-page/waveNegativeWhite.svg);
    position: absolute;
    inset: 0 0 75% 0;
    z-index: 20;
    background-repeat: no-repeat;
    background-size: cover;
}

.features__div{
    @include flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    background-color: #ffffffa2;
    border-radius: 20px;
    box-shadow: 2px 3px 5px 1px #646464;
    max-width: 75%;
    @include min-width(768px){
        max-width: 400px;
    }
    &:hover{
        transform: scale(1.05);
    }
}


.features__div .div-svg{
    min-width: 70px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.features__div:first-child .div-svg{
    background-image: url(../../assets/images/landing-page/architect-svgrepo-com.svg);
}
.features__div:nth-child(2) .div-svg{
    background-image: url(../../assets/images/landing-page/construction-crane-svgrepo-com\ \(1\).svg);
}
.features__div:nth-child(3) .div-svg{
    background-image: url(../../assets/images/landing-page/checklist-svgrepo-com.svg);
}

.features__div:nth-child(4) .div-svg{
    background-image: url(../../assets/images/landing-page/house-svgrepo-com.svg);
}

@include min-width(768px){
    .svg-o1{
        order: 1;
    }
}


//MORE INFORMATION SECTION



.more-information{
    position: relative;
    padding: 10% 0;
    &__title{
        text-align: center;
        font-family: 'antipastoExtraBold';
    }
}

.more-information::before{
    content: '';
    position: absolute;
    inset: -30% 0 99% 0;
    z-index: 200;
    background: url(../../assets/images/landing-page/wave-haikei.svg);
    transform: scaleY(-1);
    background-repeat: no-repeat;
    background-size: cover;

}

//MORE INFORMATION ACCORDIONS


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: $dark-waves;
    color: $secondary-color-light-gray;
    cursor: pointer;
    padding: 18px;
    margin: 2px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
}

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-active, .accordion:hover {
    background-color: #ccc;
    color: $dark-waves;
}

  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion::after {
    content: '\02795'; 
    font-size: 23px;
    float: right;
    margin-left: 15px;
}

.active-accordion::after {
    content: '\2796'; /* Unicode character for "minus" sign (-) */
}

//CALL TO ACTION SECTION


.calltoaction{
    position: relative;
    height:80vh;
    margin-top: 10vh;
    padding-top: 10vh;
    background-color: $dark-waves;
    &__slogan{
        margin-top: 7rem;
        font-size: 3rem;
        text-align: center;
        font-family: 'antipastoExtraBold';
        color: #fff;
        text-transform: uppercase;
    }
    &__btn{
        font-family: 'PoppinsRegular';
        text-transform: uppercase;
        font-weight: 900;
        margin: 1vh .3em;

    }

}
.calltoaction::before{
    content: '';
    position: absolute;
    inset:-10% 0 100% 0;
    background-image: url(../../assets/images/landing-page/wavesNegativeLight.svg);
    z-index: 100;
}
.calltoaction::after{
    content: '';
    position: absolute;
    opacity: 1;
    inset:-7% 0 100% 0;
    background-image: url(../../assets/images/landing-page/wavesNegative.svg);
    z-index: 100;
}