body.white {
  background-color: #fff;
}

// h1 title format
.us__title {
  text-align: center;
  transition: 0.7s;
  animation: bigger 1s ease-in forwards;
  @include min-width(768px) {
    margin-top: $header-height;
  }
}

@keyframes bigger {
  to {
    transform: translateY(10px);
    transform: scaleX(0.9);
  }
}

//intro articles

.us-section__intro {
  article {
    text-align: center;
    overflow: hidden;

    p {
      font-family: "PoppinsRegular";
      line-height: 1.5rem;
      width: 90%;
      margin: auto;
    }
    .us__box {
      img {
        width: 80%;
        height: 200px;
        object-fit: cover;
        margin: auto;
        border-radius: 10px;
      }
    }

    //article #1

    &:nth-child(1),
    &:nth-child(3) {
      --header-height: 80px;
      height: calc(100vh - var(--header-height));
      position: relative;
      &::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background-image: url(../../assets/dividers/bottom-light-waves5.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        z-index: -20;
        @include min-width(768px) {
          background-image: url(../../assets/dividers/bottom-light-waves2.svg);
        }
      }

      .us__box {
        margin: auto;
        margin-block: 5vh;
        max-width: 75%;
      }

      //resizing content for tablets
      @include min-width(768px) {
        .us__content {
          height: 100%;
          display: flex;

          align-items: center;
          .us__maintext {
            max-width: 50%;
            h1 {
              margin-top: 0;
            }
          }
          .us__box {
            width: 50%;
          }
        }
      }
      //resizing image for desktops
      @include min-width(768px) {
        height: 120vh;
        .us__content {
          .us__box {
            width: 50%;
            height: 50%;
            padding-right: 2rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    //article #2 and #4

    &:nth-child(2),
    &:nth-child(4) {
      //height: 70vh;
      background-color: $light-waves;
      outline: none;
      border: none;
      padding-inline: 1rem;
      font-size: 1rem;
      letter-spacing: 2px;
      .us__box {
        margin: 10%;
        width: 80%;
        height: 300px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      //horizontal dispoosition for articles #2 and #4

      @include min-width(576px) {
        display: flex;
        margin: auto;
        .us__content {
          height: 80%;
          max-width: 80%;
          display: flex;
          margin: auto;

          p {
            width: 50%;
            padding: 10px;
          }
          .us__box {
            margin: auto;
          }
        }
      }

      //big picture for desktop
      @include min-width(992px) {
        .us__content {
          justify-content: space-around;
          margin: 0;
          max-width: 100%;
        }
        .us__box {
          position: relative;
          box-shadow: 2px 2px 10px $logo-blue;
          width: 500px;
          height: 400px;
          object-fit: cover;
          z-index: 100;
        }
      }
    }

    //article #3

    &:nth-child(3) {
      height: 100vh;
      display: flex;
      align-items: center;

      p {
        margin: 3rem auto;
        padding-inline: 10%;
        position: relative;
        z-index: 20;
        font-size: .9rem;
        letter-spacing: 2px;
        font-weight: bold;
      }

      @include min-width(768px) {
        padding-top: 8rem;
      }

      //top waves for article #3
      &::after {
        content: "";
        position: absolute;
        inset: 0 0 40% 0;
        background-image: url(../../assets/dividers/top-light-waves4.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        z-index: 0;
      }

      //article #3 waves for desktop
      @include min-width(992px) {
        height: 150vh;
      }
    }

    //ending of article #4

    &:nth-child(4) {
      height: auto;
      position: relative;
      padding-top: 10%;
      padding-bottom: 30%;
      z-index: 100;
      &::after {
        position: absolute;
        content: "";
        inset: 80% 0 0 0;
        z-index: 300;
        background-image: url(../../assets/dividers/top-light-waves2.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
      }

      //fixing waves for ipad screen size
      @include min-width(576px) {
        &::after {
          inset: 60% 0 0 0;
        }
      }
    }
  }
}

// .us-section__video {
//   background-color: $secondary-color-dark-gray;
//   padding-block: 3rem;

//   video {
//     margin-inline: 1rem;
//     display: block;
//     width: 95%;
//     margin: auto;

//     @include min-width(768px) {
//       max-width: 720px;
//     }
//   }
// }

//timeline

.us-section__timeline {
  .poppins__title {
    color: $dark-waves;
  }
}

.us-section__reasons {
  padding-block: 100px;

  h2 {
    color: $logo-blue;
  }

  .reasons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

    @include min-width(768px) {
      max-width: 70%;
      margin: auto;
    }

    article {
      background-color: $logo-blue;
      color: #fff;
      padding: 30px;
      border-radius: 20px;
      max-width: 300px;
      box-shadow: 5px 5px 10px rgba(114, 137, 159, 0.409);

      //rezising articles for desktop
      @include min-width(1224px) {
        max-width: 250px;
      }

      h4 {
        text-align: center;
        padding-block: 0.8rem;
        font-weight: bold;
        text-shadow: 2px 2px $logo-blue;
      }
    }
  }
}

//photos galleries

.us-section__gallery {
  padding: 2rem;
  margin: auto;
  padding-bottom: 4rem;

  .poppins__title {
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  &-pictures {
    display: grid;
    gap: 20px;

    &.pools {
      grid-template-columns: 1fr 2fr;

      div:nth-child(2) {
        grid-column-start: 2;
        grid-row: span 2;
      }
    }

    &.houses {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;

      div:nth-child(1) {
        grid-row: span 2;
      }
    }
  }

  img {
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 10px rgba(81, 81, 81, 0.408);
  }

  &.pools {
    .poppins__title {
      color: $logo-blue;
    }
    background-color: rgba(226, 226, 226, 0.687);
    position: relative;
    margin-top: 100px;
    &::before {
      position: absolute;
      content: "";
      inset: -100px 0 100% 0;
      background-image: url(../../assets/images/landing-page/waveGray.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.houses {
    .poppins__title {
      color: $logo-blue;
    }
    background-color: $light-waves;
    margin-block: 100px;
    position: relative;

    @include min-width(768px) {
      margin-block: 200px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: -100px 0 100% 0;
      background-image: url(../../assets/images/landing-page/wavesExtraLightNegative.svg);
      background-size: 200%;
      background-repeat: no-repeat;

      @include min-width(768px) {
        top: -200px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      inset: 100% 0 -100px 0;
      background-image: url(../../assets/images/landing-page/wavesExtraLight.svg);
      background-size: 150%;
      background-repeat: no-repeat;

      @include min-width(768px) {
        bottom: -200px;
      }
    }
  }

  @include min-width(768px) {
    padding-inline: 15%;
  }
}

//our vision

.us-section__vision {
  max-width: 75%;
  margin: auto;
  position: relative;

  h2 {
    text-transform: capitalize;
    font-family: "adelia";
    padding-bottom: 1rem;
    padding-top: 2rem;
    color: $dark-waves;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   inset: -50% 0 100% 0;
  //   border: 1px solid transparent;
  //   border-radius: 20px;

  // }

  img,
  p {
    line-height: 1.7rem;
    display: block;
    margin: auto;
    width: 90%;
    color: $dark-waves;
  }

  p {
    font-family: "antipastoRegular";
    padding-bottom: 2rem;
    text-align: center;
  }
}

.scroll-up section h2 {
  font-size: 1.8rem;
  transition: 0.9s;
}

.scroll-down section h2 {
  transition: 0.4s;
  font-size: 2.2rem;
}

.scroll-up .us-section__vision {
  h2 {
    transition: 0.5s;
    font-size: 1.7rem;
  }
  // &::before {
  //   transition: 0.5s;
  //   border: 1px solid transparent;
  //   inset: 0 0 0 0;
  // }
}

.scroll-down .us-section__vision {
  h2 {
    transition: 0.5s;
    font-size: 1.9rem;
  }
  // &::before {
  // transition: 0.5s;
  //   border: 1px solid $logo-blue;
  //   inset: 0 0 0 0;
  // }
}
