.header{
    background-color: $primary-color-dark-blue;
}

.navbar{

    @include flex(space-between);
    @include min-width(768px){
        .navbar.navbar-expand-md{
            @include flex(space-around);
        }

    }    a{
        color: white;
    }
    
    &-toggler{
        background-color: white;
        margin-right: 1rem; 

    }
    


}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-nav .dropdown-menu {
    background-color: $primary-color-gray;
    a{
        color: $primary-color-blue;
    }
}

.nav-link{
    &:hover{color: $primary-color-light-blue;}
    &.show{color: $primary-color-light-blue}; 
}

.nav-link.nav-link-inlineblock {
    display: inline-block;
}

.nav-link.dropdown-toggle{
        &.show{
        color: $secondary-color-purple;

    }
        @include min-width(768px){
            margin-right: 1.5rem;
    }
}

.navbar-expand-md .navbar-nav .nav-link{
    @include min-width(768px){
        padding-right:0;
        padding-left: 1rem;
    }
}