
%btn-dark {
    color: $primary-color-dark-blue;
    font-weight: 700;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid transparent;
}

%btn-light {
    @extend %btn-dark;
    color: $primary-color-gray;
}

%btn-hover-dark-blue{
        color: rgb(255, 255, 255);
        background-color:$primary-color-dark-blue;
        border: 1px solid $secondary-color-dark-purple;
        box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.521);
        transition: all .5s;
}

%btn-hover-light-border{
        color: white;
        background-color: transparent;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.24);
        transition: all .5s;
    
}

.btn-animated-blue{
  background-color: $dark-waves;
  a{
      color: $primary-color-gray;
  }
}

.btn-small, .btn-medium, .btn-big{
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 700;
  padding: 5px;
  font-size: 20px;
}
.btn-medium{
  padding: 5px 12px;
}
.btn-big{
  padding: 5px 24px;
}

.btn-animated-border-box{
  background-color: $darkblue;
  display: inline-block;
  position: relative;
  height:auto;
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.btn-animated-border-box::before{
  content: '';
  position: absolute;
  inset: -200px;
  background: linear-gradient(0deg, $bright-pink, $bright-light-blue);
  z-index: 50;
  animation: animatedborder 2s ease infinite;
  transition: all 1s;
}

@keyframes animatedborder {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);} 
}

.btn-animated-border-box::after{
  content: '';
  position: absolute;
  inset: 2px 2.5px 2px 2.5px;
  border-radius: 5px;
  background: $primary-color-gray;
  transition: 0.5s;
  z-index: 100;
}

.btn-animated-border-content{
  position: relative;
  z-index: 150;
}

.btn-animated-border-box:hover::after{
  background: transparent;
  transition: .4s;
}

// LIKN WITH TRANSITIONING BORDERS AND BOLD FONT

.link-bold-borders{
  font-family: 'antipastoExtraBold';
  &::before{
      content: '';
      position: absolute;
      top: 0;
      left:-10px;
      right: -10px;
      background-color: transparent;
      height: 1px;
      transition: .3s;
      z-index: 1000;
  }
  &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: -10px;
      right: -10px;
      background-color: transparent;
      height: 1px;
      transition: .3s;
  }
  &:hover{
      &::before{
          background-color: $dark-waves;
          left: 0;
          right: 0;
          transform: translateY(5px);
      }
      &::after{
          background-color: $dark-waves; 
          left: 0;
          right: 0;
          transform: translateY(-5px);

      }
  }
}