.carrousel{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    //margin-top: -$header-height;  --> only if I make the header translucido
}

.carrousel__item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    
    &--img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &--content{
        position: absolute;
        top: 20%;
        width: 1140px;
        max-width: 80%;
        left: 45%;
        transform: translateX(-50%);
        padding-right: 30%;
        color: $primary-color-gray;
        text-shadow:  0 5px 10px #0004;
        @include max-width(576px){
            padding: 0;
         }
    }

    &--title{
        font-weight: bold;
        letter-spacing: 10px;
        font-size: 4em;
        list-style: 1em;
         @include max-width(768px){
            font-size: 2.8em;
         }
    }
    
    &--topic{
        color: $logo-blue;
    }
    &--description{
        font-size: 1.5em;
        @include max-width(576px){
            font-size: 1.3em;
         }

    }
    &--buttons{
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: 40px;
        gap: 5px;
        margin-top: 20px;
        button{
            border: none;
            background-color: #eee;
            letter-spacing: 3px;
            font-family: 'poppinsRegular';
            font-weight: 500;
            &:nth-child(2){
                background-color: #0006;
                border-color: #eee;
                color: #eee;
            }
        }
    }
}

//THUMBNAILS

.thumbnails{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
    .thumbnail{
        width: 150px;
        height: 220px;
        flex-shrink: 0;
        position: relative;
        &__img{
            width: 150px;
            height: 220px;
            object-fit: cover;
            border-radius: 20px;
        }
        &__content{
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: .6rem;
        }
        &__title{
            font-weight: bold;
            font-size: 1.3em;
            color: #fff;
        }
    }
}


//ARROWS

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 130px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    z-index: 110;
    button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #eee4;
        border: none;
        font-family: monospace;
        font-weight: bold;
        font-size: large;
        transition: .5s;
        &:hover{
            color:#555;
            background-color: #eee;
        }
    }

}

//BLUR EFFECT ON MAIN CONTENT

.carrousel__list:nth-child(1) .carrousel__item--title,
.carrousel__list:nth-child(1) .carrousel__item--description,
.carrousel__list:nth-child(1) .carrousel__item--buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear forwards;
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carrousel__list:nth-child(1) .carrousel__item--title{
    animation-delay: 1.2s;

}
.carrousel__list:nth-child(1) .carrousel__item--description{
    animation-delay: 1.4s;
}
.carrousel__list:nth-child(1) .carrousel__item--buttons{
    animation-delay: 1.6s;
}

//EFFECT NEXT CLICK

.carrousel.next .carrousel__list:first-child .carrousel__item--img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carrousel.next .thumbnails .thumbnail:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .6s linear 1 forwards;
}

@keyframes showThumbnail{
    to {
        width: 150px;
    }
}