.carousel{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    //margin-top: -$header-height;  --> only if I make the header translucido
}

.carousel__item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    
    .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content{
        position: absolute;
        top: 20%;
        width: 1140px;
        max-width: 80%;
        left: 45%;
        transform: translateX(-50%);
        padding-right: 30%;
        color: $primary-color-gray;
        text-shadow:  5px 5px 15px #000;
        @include max-width(768px){
            padding: 0;
            top: 15%;
         }
         
    &::before{
        content: '';
        position: absolute;
        inset: -3000px ;
        background-color: #0004;
    }
    }

    .title{
        font-weight: bold;
        letter-spacing: 10px;
        font-size: 3em;
        list-style: 1em;
         @include max-width(768px){
            font-size: 2.8em;
         }
    }
    
    .topic{
        color: $location;        
        text-shadow:  0px 5px 10px #0006;
    }
    .topic.long-topic{
        letter-spacing: 4.5px;
    }
    .description{
        font-size: 1.2em;
        text-shadow:  0px 5px 15px #000;
    }
    .buttons{
        display: grid;
        grid-template-columns: 130px 40px 0;
        grid-template-rows: 40px;
        gap: 5px;
        margin-top: 20px;
        overflow: hidden;
        .button{
            display: block;
            border: none;
            background-color: #eee;
            letter-spacing: 3px;
            font-family: 'poppinsRegular';
            text-align: center;
            &:nth-child(2){
                // background-color: #c32aa688;
                background-color: transparent;
                background-image: url(../../assets/images/obras/instagram-logo.png);
                background-size: contain;
                color: #fff;
                border-radius: 5px;
                flex-grow: 1;
            }
            &-blue{
                color: $logo-blue;
                display: inline-block;
                width: 100%;
                padding-block: 8px;
            }
        }
    }
}

//THUMBNAILS

.thumbnails{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;


    .thumbnail{
        width: 150px;
        height: 220px;
        flex-shrink: 0;
        position: relative;
        &__img{
            width: 150px;
            height: 220px;
            object-fit: cover;
            border-radius: 20px;
        }
        &__content{
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 10.5px;
            color: #ffffff;
            text-shadow:     1px 1px 2px black,
            0 0 1em $dark-waves,
            0 0 1em $primary-color-dark-blue;
        }
        &__title{
            font-weight: bold;
            font-size: 15px;
            color: #fff;
            text-shadow: 1px 1px 1px #020000;
        }
    }
}


//ARROWS

.arrows{
    position: absolute;
    top: 80%;
    left: 10%;
    width: 130px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    z-index: 110;
    button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #eee7;
        border: none;
        font-family: monospace;
        font-weight: bold;
        font-size: large;
        transition: .5s;
        &:hover{
            color:#555;
            background-color: #eee;
        }
    }

}

//BLUR EFFECT ON MAIN CONTENT

.carousel__list:nth-child(1) .title,
.carousel__list:nth-child(1) .description,
.carousel__list:nth-child(1) .buttons{
    transform: translateY(50px);
    opacity: 0;
    animation: showContent .5s 1s linear forwards;        
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel__list .carousel__item:nth-child(1) .title{
    animation-delay: 1.2s;

}
.carousel__list .carousel__item:nth-child(1) .description{
    animation-delay: 1.4s;
}
.carousel__list .carousel__item:nth-child(1) .buttons{
    animation-delay: 1.6s;
}

//EFFECT NEXT CLICK

.carousel.next .carousel__list:first-child .img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage .48s linear 1 forwards;
}
@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0px;
    }
}

.carousel.next .thumbnails .thumbnail:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail{
    to {
        width: 150px;
    }
}

.carousel.next .thumbnails{
    transform: translateX(150px);
    animation: transformThumbnails .5s linear 1 forwards;
}
@keyframes transformThumbnails{
    to{
        transform: translateX(0);
    }
}

//EFFECT PREEV CLICK

.carousel.prev .carousel__list .carousel__item:nth-child(2){
    z-index: 20;
}

.carousel.prev .carousel__list .carousel__item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage .5s linear 1 forwards;
}

@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carousel.prev .thumbnails .thumbnail:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear forwards;
}

.carousel__list .carousel__item:nth-child(2) .title,
.carousel__list .carousel__item:nth-child(2) .description,
.carousel__list .carousel__item:nth-child(2) .buttons{
    animation: contentOut .5s 1s linear forwards;
}
@keyframes contentOut{
    to{
        
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}

//TIME BAR

.time{
    width: 100%;
    height: 3px;
    background-color: $logo-blue;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning{
    to {
        width: 0;
    }
}