
.main-gallery{
    @include min-width(768px){padding-top: $header-height;};
    // background-color: #3669a740;
    @include flex-column;
    &models{
        background-color: #fff;
    }

    .gallery__text{
        text-align: center;
        background-color: #d2d2d27d;

        
        .gallery__description{
            padding-block: 1rem;
            margin: auto;
            font-family: 'poppinsRegular';
            width: 40%;
            line-height: .8rem;
            font-size: .7rem;
        }


    }
    .gallery__back{
        display: inline-block;
        margin: auto;
        margin-bottom: 2rem;
        background-color: transparent;
        transition: .3s;
        &:hover{
            padding-inline: 25px;
            color: $dark-waves;
            a{
                font-weight: bold;
            }
            }
        }

    } 
    .gallery__back.btn-animated-border-box::before{
        inset: -50px;
        background: linear-gradient(0deg,#94f497c6, $bright-light-blue);


    }
    .gallery__back.btn-animated-border-box::after{
        background: transparent;
    }


.gallery{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 266.6px;
    padding-block: 2rem;
    gap:40px;
    padding-inline: 10%;
    margin: auto;

    a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .div-img {
        min-height: 266.6px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #0008;

        transition: .4s;
        @include min-width(992px){
                    filter: saturate(70%);
        }
        &:hover, &:focus{
            transform: scale(1.01);
            @include min-width(992px){
            filter: saturate(150%);
            }
        }
    }

    .med-pic { 
        // width: 300px;
        // height: 266.6px;    
        // @include min-width(576px){
        // max-width: 200px;
        // }
        grid-column-start: span 2;
    }

    .big-pic{ 
        // width: 300px;
        // height: 266.6px;
        // @include min-width(576px){
        //     width: 420px;
        //     height: 266.6px;
        // }
        grid-row-start: span 2;
        grid-column-start: span 2;

    }
    
    .long-pic{ 
        // width: 300px;
        // height: 266.6px;
        // @include min-width(576px){
        //     width: 420px;
        //     height: 266.6px;
        // }
        grid-column-start: span all;

    }

    @include max-width(768px){
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        .big-pic { 
            grid-column-start: span 1;
        }
    
    }
    @include max-width(768px){
        grid-template-columns: repeat(auto-fit,1fr);
        .big-pic { 
            grid-column-start: span 1;
        }
    
    }

}

.morelinks{
    .other-link h2{
        font-size:  .9rem;
    }
}

